{% load static %}


<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">

  <!--Bee logo-->
  <a href="#" class="navbar-brand">
    <img src="{% static 'img/bee-logo-vector.png' %}" width="45" height="45" alt="logo">
  </a>

  <!--Python logo-->
  <a href="#" class="navbar-brand">
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" width="30" height="30" alt="logo">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a href="{% url 'index' %}" class="nav-link">Главная</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'news_index' %}" class="nav-link">Новости</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'teachers' %}" class="nav-link">Преподаватели</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'school_courses' %}" class="nav-link">Курсы</a>
      </li>
      <li class="nav-item ">
        <a href="{% url 'contacts' %}" class="nav-link">Контакты</a>
      </li>
      {% block navbar_course %} {% endblock %}
    </ul>

    <!--Search form-->
    <form action="{% url 'news_search_results' %}" method="GET" class="form-inline my-2 my-lg-0">
      <input name="q" type="text" class="form-control mr-sm-2" placeholder="Поиск" aria-label="Поиск">
      <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">Поиск</button>
    </form>

    {% if user.is_authenticated %}
      <!--For authorized user-->
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center justify-content-end p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          {% if user.profile.photo %}
            <img class="rounded-circle " src="{{ user.profile.photo.url }}" alt="mdo" width="30" height="30">
          {% else %}
            <img class="rounded-circle " src="{% static 'img/users/user_profile_avatar.png' %}" alt="mdo" width="30" height="30">
          {% endif %}
        </a>

        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">Messages
            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"></span>
          </a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="{% url 'study_courses' %}">Courses</a></li>
          <li><a class="dropdown-item" href="{% url 'user_profile' %}">Profile</a></li>
          <li><hr class="dropdoSwn-divider"></li>
          <li><a class="dropdown-item" href="{% url 'signout' %}">Sign out</a></li>
        </ul>
      </div>

      <span class="navbar-text mr-2">{{ user }}</span>
      <a href="{% url 'signout' %}" class="btn btn-outline-light">Выход</a>

    {% else %}
    <!--For authorized user-->
      <a href="{% url 'signin' %}" class="btn btn-outline-light mr-2">Вход</a>
      <a href="{% url 'signup' %}" class="btn btn-outline-light mr-2">Регистрация</a>
    {% endif %}
  </div>
</nav>

<!--Scripts-->
<script src="{% static 'js/blocks/sidebars.js' %}"></script>
<script src="{% static 'js/blocks/bootstrap.bundle.min.js' %}"></script>


