{% extends 'templates/base.html' %}


{% load static %}

<!--Title-->
{% block title %} Наши преподаватели {% endblock %}

<!--Add some custom style-->
{% block add_styles %}
  <link rel="stylesheet" href="{% static 'css/teachers_style.css' %}">
{% endblock %}


<!--Header-->
{% block header %}
    {% include 'templates/block/header.html' %}
{% endblock %}


<!--Content-->
{% block content %}
  <div class="container marketing" id="teachers_container">

    <!-- Three columns of text below the carousel -->
    <div class="row" id="teachers_row">

      <!--Short description about teachers-->
      {% for teacher in teachers %}
      <div class="col-lg-4" id="teachers_col">
        {% if teacher.photo %}
          <img class="rounded-circle" src="{{ teacher.photo.url }}" alt="{{ teacher.name }}" width="250" height="250">
        {% else %}
        <svg class="bd-placeholder-img rounded-circle" id="teachers_bd_paceholder" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        {% endif %}
        <h2>{{ teacher.first_name }} {{ teacher.last_name }}</h2>
        <p>{{ teacher.short_description|safe }}</p>
        <p><a class="btn btn-secondary" href="{% url 'teacher_detail' slug=teacher.slug %}">View details »</a></p>
      </div>
      {% endfor %}

    </div>
  </div>

  <!--Horizontal line-->
  <hr class="featurette-divider">

{% endblock %}