{% load static %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <a href="#" class="navbar-brand">
        <img src="{% static 'img/bee-logo-vector.png' %}" width="45" height="45" alt="logo">
      </a>

      <a href="#" class="navbar-brand">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Nuxt_logo.svg" width="30" height="30" alt="logo">
      </a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a href="{% url 'index' %}" class="nav-link">Главная</a>
        </li>
      </ul>

      <div class="navbar-nav mr-auto">
<!--        {% for theme in lesson.themes.all %}-->
<!--        <a href="{% url 'study_course' course_id=course.pk module_id=module.order lesson_id=lesson.order theme_id=theme.order %}">-->
<!--          <div class="col-1" style="background-color: #95ef6e; height:100%; width: 100%;">{{ forloop.counter }}</div>-->
<!--        </a>-->
<!--        {% endfor %}-->

        <ul class="nav nav-tabs" id="myTab" role="tablist">
        {% for theme in current_lesson.themes.all %}
            <li class="nav-item text-dark" role="presentation">
            <button class="nav-link" id="{{ theme.name }}-tab" data-bs-toggle="tab" data-bs-target="#{{ theme.name }}" type="button" role="tab" aria-controls="{{ theme.name }}" aria-selected="true" style="background-color: #757270; width: 40px; color: white">{{ forloop.counter }}</button>
          </li>
        {% endfor %}
        </ul>
      </div>


    {% if user.is_authenticated %}

      <div class="dropdown">
        <a href="#" class="d-flex align-items-center justify-content-end p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="30" height="30" class="rounded-circle">
<!--          <strong>{{ user }}</strong>-->
        </a>

        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">Messages
            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"></span>
          </a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="{% url 'study_courses' %}">Courses</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdoSwn-divider"></li>
          <li><a class="dropdown-item" href="{% url 'signout' %}">Sign out</a></li>
        </ul>
      </div>

      <span class="navbar-text mr-2">{{ user }}</span>
      <a href="{% url 'signout' %}" class="btn btn-outline-light">Выход</a>

    {% else %}
      <a href="{% url 'signin' %}" class="btn btn-outline-light mr-2">Вход</a>
      <a href="{% url 'signup' %}" class="btn btn-outline-light mr-2">Регистрация</a>
    {% endif %}
  </div>

</nav>

<script src="{% static 'js/blocks/sidebars.js' %}"></script>
<script src="{% static 'js/blocks/bootstrap.bundle.min.js' %}"></script>


