/*body {*/
/*  font-family: "Lato", sans-serif;*/

/*}*/

.sidebar {
  height: 90%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 75px;
  left: 0;
  /*background-color: #3a3838;*/
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 5px;
  /*text-decoration: none;*/
  /*font-size: 15px;*/
  /*color: #fff8f8;*/
  display: block;
}

/*.sidebar a:hover {*/
/*  !*color: #eeeeee;*!*/
/*}*/

.main {
  margin-left: 300px; /* Same as the width of the sidenav */
  padding: 20px 0;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}