#teachers_container {
    padding-top: 30px;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.bd-placeholder-img{
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 250px;
    height: 250px;
}

.marketing .col-lg-4 p {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: justify;
    /*text-align: center;*/
}

.btn-secondary {
    color: #fff;
    background-color: #2ea0fd;
    border-color: #3097f5;
}
