{% extends 'templates/base.html' %}


{% load static %}

<!--Title-->
{% block title %} Добавить новость {% endblock %}

<!--Content-->
{% block content %}
<div class="container w-75">
    <hr class="featurette-divider">
    <h4 class="mb-3 text-center">Создать новую запись</h4>

    <!--Form-->
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}

        <div class="mb-3">
            <label for="header_h1" class="form-label">Заголовок статьи</label>
            {{ form.header_h1 }}<br>
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">Название статьи</label>
            {{ form.title }}<br>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Краткое описание статьи (будет отображаться на основной странице)</label>
            <div style="text-align: center">{{ form.description }}</div><br>
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">Содержание статьи</label>
            <div id="content" style="text-align: center; width: 100%">{{ form.content }}</div><br>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Фоновое изображение статьи</label>
            {{ form.image }}<br>
        </div>

        <div class="mb-3">
            <label for="tag" class="form-label">Тэги статьи (введите через запятую)</label>
            {{ form.tag }}<br>
        </div>

        <button type="submit" class="btn btn-lg btn-success w-100">Опубликовать статью</button>
        <hr class="featurette-divider"><br>

    </form>
    <!--/Form-->

</div>
{% endblock %}