{% extends 'templates/base.html' %}


{% load static %}

<!--Title-->
{% block title %}{{ post.title }}{% endblock %}

<!--Header-->
{% block header %}
    {% include 'templates/block/header.html' %}
{% endblock %}

<!--Content-->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <nav aria-label="breadcrumb" class="mt-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'news_index' %}">Все новости</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ post.header_h1 }}</li>
                </ol>
            </nav>

            <!--Messages block-->
            {% if messages %}
              <div class="alert alert-success" role="alert">
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
              </div>
              <hr class="featurette-divider">
            {% endif %}

            {% if post.status == post.REVIEW %}
                <div class="alert alert-warning text-center text-dark">
                    Пост находится на рассмотрении у модератора.<br>
                    После проверки он будет опубликован.
                </div>
            {% elif post.status == post.REJECTED %}
                <div class="alert alert-danger text-center">
                    Администрация отклонила публикации данного поста.<br>
                    Пожалуйста, обратитесь к администрации (используйте форму обратной связи).
                </div>
            {% endif %}
            <div class="text-center">
                <img class="img-fluid rounded " src="{{ post.image.url }}" alt="">
            </div>
            <hr>

            <!--Post content-->
            <p class="lead">{{ post.content|safe }}</p>

            <!--Post tags-->
            <div class="d-flex justify-content-end">
                {% for tag in post.tag.all %}
                    <a href="{% url 'news_tag' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
                {% endfor %}
            </div>
            <hr>

            <div class="d-flex">
                <div class="mr-auto p-2 lead">Автор: <a href="{% url 'main_user' user_name=post.author.username %}">{{ post.author }}</a></div>
                <div class="p-2">Опубликовано: {{ post.date_of_creating }}</div>
            </div>
            <hr>

            <!--Comments-->
            {% if post.status == post.PUBLISHED %}
                {% include './block/comments.html' %}
            {% endif %}
        </div>

        <!--Right side block-->
        {% include './block/aside.html' %}
    </div>
</div>
{% endblock %}