{% extends 'templates/base.html' %}


{% load static %}

<!--Title-->
{% block title %}{{ user.user_name }}{% endblock %}

<!--Styles-->
{% block add_styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.checked {
  color: orange;
}

</style>

{% endblock %}

<!--Header-->
{% block header %}
{% endblock %}

<!--Content-->
{% block content %}

<div class="container">
    <div class="row">

        <!--Left side block-->
        <div class="col-md-4">
            <div class="card my-4">
                <h5 class="card-header text-center">Персональные данные</h5>
                    <div class="card-body">
                        <img src="{% static 'img/users/user_profile_avatar.png' %}" alt="" class="card-img-top">
                        <hr>

                        <div class="card my-4 bg-light">
                            <h5 class="text-center">{{ user.username }}</h5>
                        </div>
                        <hr>

                        <!--Rating-->
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <hr>

                        <div class="card my-3">
                            <div class="p-2">
                                <p class="lead">{{ user.first_name }} {{ user.last_name }}</p>
                                <p class="lead">{{ user.email }}</p>
                                {% if user.profile.city %}
                                    <p class="lead">City: {{ user.profile.city }}</p>
                                {% endif %}
                                <hr>

                                <h5 class="card-title text-center bg-light">Contact info</h5>
                                {% if user.profile.telegram_link or user.profile.vk_link or user.profile.instagram_link %}
                                    {% if user.profile.telegram_link %}
                                        <p class="lead">Telegram: {{ user.profile.telegram_link }}</p>
                                    {% endif %}

                                    {% if user.profile.vk_link %}
                                        <p class="lead">VK: {{ user.profile.vk_link }}</p>
                                    {% endif %}

                                    {% if user.profile.instagram_link %}
                                        <p class="lead">Instagram: {{ user.profile.instagram_link }}</p>
                                    {% endif %}
                                {% else %}
                                    <p class="lead"><a href="">add link</a></p>
                                {% endif %}
                            </div>

                            <div class="d-flex justify-content-center bg-light p-1">
                                <a href="{% url 'add_profile' %}">
                                  <button type="button" class=" w-100 btn btn-sm btn-info">Edit profile info</button>
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <!--Right side block-->
        <div class="col-lg-8">
            <nav aria-label="breadcrumb" class="mt-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'news_index' %}">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ user.first_name }} {{ user.last_name }}</li>
                </ol>
            </nav>
            <hr>

            <div class="card my-4">
                <div class="p-2 rounded-3">
                    <div class="d-flex align-items-center breadcrumb">
                        <h3 class="card-title mr-auto">Мои курсы</h3>
                        <a href="{% url 'completed_courses' %}"><button type="button" class="btn w-100 btn-sm btn-outline-danger">Архив</button></a>
                        <p>&thinsp;&thinsp;&thinsp;</p>
                        <a href="{% url 'user_courses' %}"><button type="button" class="btn w-100 btn-sm btn-outline-success">Все активные курсы</button></a>
                    </div>

                    {% for course in user_courses %}
                    <a href="{{ course.get_url }}"><p class="lead">{{ course.name }}</p></a>
                    {% endfor %}
                </div>
            </div>
            <hr>

            <div class="card my-4">
                <div class="p-2 rounded-3">
                    <div class="d-flex align-items-center justify-content-around breadcrumb">
                        <h3 class="card-title mr-auto">Мои посты</h3>
                        <a href="{% url 'add_news' %}"><button type="button" class="btn w-100 btn-sm btn-outline-success">Создать пост</button></a>
                        <p>&thinsp;&thinsp;&thinsp;</p>
                        <a href="{% url 'user_posts' %}"><button type="button" class="btn w-100 btn-sm btn-outline-secondary">Все авторские посты</button></a>
                    </div>

                    {% for post in user_posts %}
                        <a href="{{ post.get_url }}"><p class="lead">{{ post.header_h1 }}</p></a>
                    {% endfor %}
                </div>

            </div>
            <hr>

        </div>

    </div>

</div>

{% endblock %}