{% extends 'templates/base.html' %}


{% load static %}

<!--Title-->
{% block title %} Курсы по английскому языку {% endblock %}

{% block add_styles %}
{% endblock %}


<!--Header-->
{% block header %}
    {% include 'templates/block/header.html' %}
{% endblock %}


<!--Content-->
{% block content %}

  <div class="container">
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <nav aria-label="breadcrumb" class="mt-4">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'school_courses' %}">Курсы</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ course.name }}</li>
      </ol>
    </nav>

      {% for description in course.course_descriptions.all %}
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">{{ description.title }}</h2>
            <p class="lead">{{ description.content|safe }}</p>
          </div>
<!--          <div class="col-md-5">-->
<!--            <img class="featurette-image img-fluid mx-auto" src="{% static description.image.url %}" alt="Generic placeholder image">-->
<!--          </div>-->
        </div>
      <hr>
      {% endfor %}

        <!-- Button trigger modal -->
        <div class="row align-self-center align-content-center align-items-center">
          <button class="w-100 btn btn-primary btn-lg" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Записаться на пробное занятие</button>
        </div>

    <hr>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Запись на курсы</h5>
                <!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
                </div>

                <form action="{% url 'school_course_detail' slug=course.slug %}" method="POST" class="form-container">
                    <div class="modal-body">

                        {% csrf_token %}
                        {{ form.course.as_hidden }}

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="username">Имя</span>
                            {{ form.user_name }}
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="phone">📱</span>
                            {{ form.phone }}
                         </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="telegram">Telegram</span>
                            {{ form.telegram }}
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Записаться</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отмена</button>
                    </div>
                </form>

            </div>
          </div>
        </div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

  </div>




<!--Some-->
{% endblock %}